name = "LearnJulia"
uuid = "db5116f5-db78-4014-9f90-45b822c7ebcf"
authors = ["Bradley Lyman <lyman.brad3211@gmail.com> and contributors"]
version = "0.1.0"

[compat]
julia = "1"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
